EffectiveMobile.xcodeproj/project.xcworkspace/xcuserdata/evgeniy.xcuserdatad/UserInterfaceState.xcuserstate
EffectiveMobile.xcodeproj/xcuserdata/evgeniy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
